a {
  color: inherit !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

* {
  scroll-behavior: smooth;
}
#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
}
